* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }

#canvas {
    display: block;
    position: absolute;
    z-index: 0;
}

#options {
    position: absolute;
    right: 10px;
    top: 0px;
    background: #AAA;
    border: 1px solid #666;
    z-index: 1;
    width: 300px;
}
